.btn {
  position: fixed;
  padding: 8px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  right: 40px;
  bottom: 20px;
  background-color: var(--bg-color02);
  color: var(--text-color02);
  cursor: pointer;
  z-index: 1;
}
