.scrollUpBtn {
  position: fixed;
  right: 30px;
  bottom: 20px;

  padding: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color03);
  color: var(--text-color03);
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}
