.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 5rem;
  width: 100%;
  background-color: var(--bg-color01);
  padding: 0 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 99;
}

.logo {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-color02);
}

.navController {
  display: none;
}

.navController .menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  color: var(--text-color01);
  cursor: pointer;
}

.menuBtn svg {
  font-size: 4rem;
  color: var(--text-color02);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 1.5rem;
}

.nav ul li {
  padding: 0.5rem 1rem;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color01);
  transition: color 0.15s;
}

.nav ul li:hover a {
  color: var(--text-color02);
}

.nav ul li:last-child {
  padding-right: 0;
}

@media (max-width: 550px) {
  .navController {
    display: block;
  }

  .nav ul {
    display: none;
  }
}
