.hero {
  background-color: var(--bg-color01);
  height: calc(100vh - 5rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;

  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  padding: 0 1rem;

  margin-top: -5rem;
}

.heroGrid .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.about span {
  color: var(--text-color02);
}

.heroGrid .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImg {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-color: var(--bg-color02);
  transition: box-shadow 0.3s;
  box-shadow: 0.7rem 0.4rem 0.4rem rgb(56, 51, 51);
  overflow: hidden;

  padding-bottom: 5rem;
}

.profileImg img {
  width: 100%;
}

/* mobile view */
.mobileHeroGrid {
  display: none; /*display none by default*/
}

@media (max-width: 800px) {
  .hero {
    row-gap: 2rem;
  }

  .heroGrid {
    display: none;
  }

  .mobileHeroGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;

    margin-top: -10rem;
  }

  .mobileHeroGrid .mobileProfile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobileProfileImg {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    background-color: var(--bg-color02);
    transition: box-shadow 0.3s;
    box-shadow: 0.7rem 0.4rem 0.4rem rgb(56, 51, 51);
    overflow: hidden;
  }

  .mobileProfileImg img {
    width: 100%;
  }

  .mobileAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .mobileAbout h1 {
    font-size: 4rem;
  }

  .mobileAbout span {
    color: var(--text-color02);
  }
}

@media (max-width: 550px) {
  .hero {
    margin-top: 0;
  }
}
