.hero {
  background-color: var(--bg-color01);
  height: 90vh;
  width: 100%;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;

  clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;

  margin-top: -10rem;
}

.heroGrid .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.about span {
  color: var(--text-color02);
}

.heroGrid .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImg {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: var(--bg-color02);
  transition: box-shadow 0.3s;
  box-shadow: 0.7rem 0.4rem 0.4rem rgb(56, 51, 51);
  overflow: hidden;

  padding-bottom: 5rem;
}

.profileImg img {
  width: 100%;
}
