.techList {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;

  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color02);
  font-size: 1.6rem;
}

.techList div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-color03);
  color: var(--text-color03);
}

.techList img {
  width: 4rem;
}
