.techList {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  color: var(--text-color03);
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background-color: var(--bg-color02);
  font-size: 1.6rem;
}

.techListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  width: 100%;
}

.techIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.techIcon img {
  width: 3.3rem; /* Adjust size as needed */
  transition: transform 0.2s ease-in-out;
}

.techIcon:hover img {
  transform: scale(1.2) rotate(20deg);
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
}

.techList p {
  margin: 0;
  font-size: 1.6rem;
  text-align: justify;
  hyphens: auto; /* Enable hyphenation */
  word-spacing: -0.05em;
  letter-spacing: 0.02em;
  line-height: 1.6;
}
