.techStack {
  width: 100%;
  background-color: var(--bg-color03);
  padding: 1rem 2.5rem;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techStack li {
  font-size: 1.6rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
}

.techStack li p {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.techStack li img {
  width: 3rem;
}

@media (max-width: 550px) {
  .techStack {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
