.techStack {
  width: 100%;
  background-color: var(--bg-color02);
  padding: 1rem 2.5rem;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techStack li {
  font-size: 1.6rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;

  transition: transform 0.2s ease-in-out;
  position: relative;
}

.techStack li img {
  width: 3rem; /* Adjust size as needed */

  transition: transform 0.2s ease-in-out;
}

.techStack li:hover img {
  transform: scale(1.2) rotate(20deg);
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
}

.techStack li p {
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media (max-width: 850px) {
  .techStack {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .techStack {
    padding: 1rem;
  }
}
