/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --bg-color01: #c5d8d1;
  --bg-color02: #12263a; /*prussian blue*/
  --bg-color03: #06bcc1;
  --bg-color04: #f4d1ae;
  --bg-color05: #ffffff; /*white*/
  --bg-color06: #f4edea; /*white*/

  --text-color01: #12263a; /*prussian blue*/
  --text-color02: #06bcc1;
  --text-color03: #f0ece5;

  --font-style01: "Signika Negative", sans-serif;
  --font-style02: "Patua One", serif;
  --font-style03: "Pacifico", cursive;

  --backdrop-color: rgba(255, 255, 255, 0.1);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  background-color: rgb(252, 252, 252);
  color: var(--text-color01);
  font-family: var(--font-style01);
}

h1 {
  font-size: 5rem;
  text-align: center;
  /* font-weight: 400; */
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: var(--text-color01);
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

li {
  list-style: none;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color05);
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2.5rem;
  background-color: var(--bg-color02);
  color: var(--text-color03);
  box-shadow: 0.7rem 0.4rem 0.4rem rgb(56, 51, 51);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.btn:hover {
  box-shadow: none;
}

@media (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 850px) {
}
